<div class="container">    
    <div class="row">    
      <div class="col-md-8 form-group">    
        <input type="file" class="form-control" (change)="uploadedFile($event.target.files)" placeholder="Upload file" accept=".xlsx">    
      </div>    
    </div>    
    <div class="row">    
      <div class="col-md-2 form-group">    
        <button type="button" class="btn btn-info" (click)="uploadFile()">Upload Excel</button>    
      </div>    
    </div>    
  </div>  
  <table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8"> 
    <ng-container matColumnDef = "education">
       <mat-header-cell *matHeaderCellDef>Education  </mat-header-cell>
       <mat-cell *matCellDef = "let element"> {{element.education}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef = "excelSkills">
       <mat-header-cell *matHeaderCellDef>Excel_Skills  </mat-header-cell>
       <mat-cell *matCellDef = "let element"> {{element.excelSkills}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef = "TLNonTL">
       <mat-header-cell *matHeaderCellDef>TL_Non_TL  </mat-header-cell>
       <mat-cell *matCellDef = "let element"> {{element.TLNonTL}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef = "city">
       <mat-header-cell *matHeaderCellDef>City  </mat-header-cell>
       <mat-cell *matCellDef = "let element"> {{element.city}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef = "state">
       <mat-header-cell *matHeaderCellDef>State  </mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.state}} </mat-cell>
    </ng-container> 
    <ng-container matColumnDef = "frequency">
      <mat-header-cell *matHeaderCellDef>Frequency  </mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.frequency}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef = "tlPune">
      <mat-header-cell *matHeaderCellDef>TL_Pune  </mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.tlPune}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef = "tlMumbai">
      <mat-header-cell *matHeaderCellDef>TL_Mumbai  </mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.tlMumbai}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef = "tlOthers">
      <mat-header-cell *matHeaderCellDef>TL_Others  </mat-header-cell>
      <mat-cell *matCellDef = "let element"> {{element.tlOthers}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef = "auditStatus">
      <mat-header-cell *matHeaderCellDef>Audit_Status  </mat-header-cell>
     <mat-cell *matCellDef = "let element"> {{element.auditStatus}} </mat-cell>
   </ng-container> 
    <mat-header-row mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
    <mat-row  *matRowDef = "let row; columns: displayedColumns;"></mat-row>
 </table>