
<p-selectButton [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>

<p-fullCalendar [events]="events" [options]="options" *ngIf="value1 == 'Calendar'"></p-fullCalendar>

<p-dialog [(visible)]="display">
    <ng-template pTemplate="header">
        Header content here
    </ng-template>
    Content
    <p-footer>
        //buttons
    </p-footer>
</p-dialog>
 

<div class="container">
    <h5>Profit vs Cost</h5>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" *ngIf="value1 == 'Chart'"></p-chart>
</div>

