<div class="container">
    <form [formGroup]="associateForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <!-- firstName -->
                    <label for="firstName">First Name: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control"
                            formControlName="firstName">
                        <p class="lblError" *ngIf="associateForm.get('firstName').hasError('required')
                              && !associateForm.get('firstName').pristine">
                            First Name is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <!-- lastName -->
                    <label for="lastName">Last Name: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control"
                            formControlName="lastName">
                        <p class="lblError" *ngIf="associateForm.get('lastName').hasError('required')
                              && !associateForm.get('lastName').pristine">
                            Last Name is Required
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <!-- E-mail -->
                    <label for="email">E-mail: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="email" placeholder="E-mail" class="form-control"
                            formControlName="email">
                        <p class="lblError"
                            *ngIf="associateForm.get('email').hasError('required') && !associateForm.get('email').pristine">
                            Please provide your E-mail
                        </p>
                        <p class="lblError"
                            *ngIf="associateForm.get('email').hasError('email') && !associateForm.get('email').pristine">
                            E-mail is Invalid</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col">
                <div class="form-group">
                    <label for="phone">WhatsApp Mobile Number * <span class="lblError"></span></label>
                    <div class="controls">
                        <input type="number" formControlName="phone" ng2TelInput
                            [ng2TelInputOptions]="{initialCountry: 'in'}"
                            [ngClass]="{ 'is-invalid': associateForm.get('phone').errors }"
                            (keypress)="numericOnly($event)" />
                        <div *ngIf="associateForm.get('phone').errors" class="invalid-feedback">
                            <div *ngIf="associateForm.get('phone').errors.required">Phone is required</div>
                            <div *ngIf="associateForm.get('phone').errors.minlength">Phone must be at least 10 numbers.
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col">
            <div class="form-group">
                <!-- E-mail -->
                <label for="firstKycId">Adhar: <span class="lblError">*</span></label>
                <div class="controls">
                    <input type="text" id="firstKycId" placeholder="Adhar Id" class="form-control"
                        formControlName="firstKycId">
                    <p class="lblError"
                        *ngIf="associateForm.get('firstKycId').hasError('required') && !associateForm.get('adharId').pristine">
                        Please provide your Adhar Id
                    </p>
                    <p class="lblError"
                        *ngIf="associateForm.get('firstKycId').hasError('adharId') && !associateForm.get('adharId').pristine">
                        Adhar Id is Invalid</p>
                </div>
            </div>
        </div>
         
        <div class="col">
            <div class="form-group">
                <label for="secondKycId">PAN: <span class="lblError">*</span></label>
                <div class="controls">
                    <input type="text" id="secondKycId" placeholder="PAN" class="form-control"
                        formControlName="secondKycId">
                    <p class="lblError"
                        *ngIf="associateForm.get('secondKycId').hasError('required') && !associateForm.get('adharId').pristine">
                        Please provide your PAN
                    </p>
                    <p class="lblError"
                        *ngIf="associateForm.get('secondKycId').hasError('adharId') && !associateForm.get('adharId').pristine">
                        PAN is Invalid</p>
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <div class="form-check form-check-inline">
                <!-- Gender -->
                <input type="radio" id="genderMale" class="form-check-input" formControlName="user_gender" value="Male">
                <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="genderFemale" class="form-check-input" formControlName="user_gender"
                    value="Female">
                <label class="form-check-label" for="genderFeMale">Female</label>
            </div>
        </div>

        <div class="form-group">
            <!-- Username -->
            <label for="username">Address: <span class="lblError">*</span></label>
            <div class="controls">
                <input type="text" id="addressLine1" placeholder="Address Line1" class="form-control"
                    formControlName="addressLine1">
                <p class="lblError" *ngIf="associateForm.get('addressLine1').hasError('required')
                              && !associateForm.get('addressLine1').pristine">
                    Address Line 1 is Required
                </p>
                <input type="text" id="streetAddress2" placeholder="Address Line2" class="form-control"
                    formControlName="streetAddress2">
            </div>

            <div class="form-row">
                <div class="col">
                    <p-dropdown [options]="cities" formControlName="city" optionLabel="label" optionValue="value" filter="true"
                         placeholder="Select a City"></p-dropdown>
                </div>
                <div class="col">
                    <input type="text" id="state" placeholder="State" class="form-control" formControlName="state">
                </div>
                <div class="col">
                    <input type="text" id="postalCode" placeholder="Postal/Zip Code" class="form-control"
                        formControlName="postalCode">
                </div>
                <div class="col">
                    <input type="text" id="country" placeholder="country" class="form-control" readonly
                        formControlName="country">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" [disabled]="associateForm.invalid">
                        Submit
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary" type="button" [disabled]="associateForm.invalid"
                    (click)="reviewDialog()">
                        Review
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" (click)="reset($event)"
                        [disabled]="associateForm.invalid">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<p-dialog 
header="Form Summary" 
[(visible)]="displayReviewDialog" 
[breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
[style]="{width: '50vw'}"
[maximizable]="true"
>
    <div class="container">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name*</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" > 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="phone">WhatsApp Mobile Number*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="phone" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="adhar">Aadhar (Add Front and back Side of Aadhar)*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="adhar" name="adhar">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pan">PAN*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="pan" name="pan">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="address" name="address">
            </div>
          </div>
        </form>
    </div>
</p-dialog>