<div class="container">
    <form [formGroup]="resourceForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <!-- firstName -->
                    <label for="firstName">First Name: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control"
                            formControlName="firstName">
                        <p class="lblError" *ngIf="resourceForm.get('firstName').hasError('required')
                              && !resourceForm.get('firstName').pristine">
                            First Name is Required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <!-- lastName -->
                    <label for="lastName">Last Name: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control"
                            formControlName="lastName">
                        <p class="lblError" *ngIf="resourceForm.get('lastName').hasError('required')
                              && !resourceForm.get('lastName').pristine">
                            Last Name is Required
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <!-- E-mail -->
                    <label for="email">E-mail: <span class="lblError">*</span></label>
                    <div class="controls">
                        <input type="text" id="email" placeholder="E-mail" class="form-control"
                            formControlName="user_email">
                        <p class="lblError"
                            *ngIf="resourceForm.get('user_email').hasError('required') && !resourceForm.get('user_email').pristine">
                            Please provide your E-mail
                        </p>
                        <p class="lblError"
                            *ngIf="resourceForm.get('user_email').hasError('email') && !resourceForm.get('user_email').pristine">
                            E-mail is Invalid</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="phone">WhatsApp Mobile Number * <span class="lblError"></span></label>
                    <div class="controls">
                        <input type="number" formControlName="phone" ng2TelInput
                            [ng2TelInputOptions]="{initialCountry: 'in'}"
                            [ngClass]="{ 'is-invalid': resourceForm.get('phone').errors }"
                            (keypress)="numericOnly($event)" />
                        <div *ngIf="resourceForm.get('phone').errors" class="invalid-feedback">
                            <div *ngIf="resourceForm.get('phone').errors.required">Phone is required</div>
                            <div *ngIf="resourceForm.get('phone').errors.minlength">Phone must be at least 10 numbers.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="adhar">Aadhar (Add Front and back Side of Aadhar) * <span class="lblError"></span></label>
            </div>
            <div class="uploadfilecontainer" (click)="adharFileInput.click()" appDragDrop
                (onFileDropped)="uploadAdharFile($event)">
                <input hidden type="file" #adharFileInput (change)="uploadAdharFile($event.target.adharFiles)">
            </div>
            <div class="files-list" *ngFor="let file of adharFiles;let i= index">
                <p> {{ file }} </p>
                <button class="delete-file" (click)="deleteAdharAttachment(i)">
                    <img src="../../assets/Full_Recycle_Bin.png">
                </button>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="adhar">PAN * <span class="lblError"></span></label>
            </div>
            <div class="uploadfilecontainer" (click)="panFileInput.click()" appDragDrop
                (onFileDropped)="uploadPanFile($event)">
                <input hidden type="file" #panFileInput (change)="uploadPanFile($event.target.panFiles)">
            </div>
            <div class="files-list" *ngFor="let file of panFiles;let i= index">
                <p> {{ file }} </p>
                <button class="delete-file" (click)="deletePanAttachment(i)">
                    <img src="../../assets/Full_Recycle_Bin.png">
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="form-check form-check-inline">
                <!-- Gender -->
                <input type="radio" id="genderMale" class="form-check-input" formControlName="user_gender" value="Male">
                <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="genderFemale" class="form-check-input" formControlName="user_gender"
                    value="Female">
                <label class="form-check-label" for="genderFeMale">Female</label>
            </div>
        </div>

        <div class="form-group">
            <!-- Username -->
            <label for="username">Address: <span class="lblError">*</span></label>
            <div class="controls">
                <input type="text" id="addressLine1" placeholder="Address Line1" class="form-control"
                    formControlName="addressLine1">
                <p class="lblError" *ngIf="resourceForm.get('addressLine1').hasError('required')
                              && !resourceForm.get('addressLine1').pristine">
                    Address Line 1 is Required
                </p>
                <input type="text" id="addressLine2" placeholder="Address Line2" class="form-control"
                    formControlName="addressLine2">
            </div>

            <div class="form-row">
                <div class="col">
                    <p-dropdown [options]="cities" formControlName="city" optionLabel="name" filter="true"
                         placeholder="Select a City"></p-dropdown>
                </div>
                <div class="col">
                    <input type="text" id="state" placeholder="State" class="form-control" formControlName="state">
                </div>
                <div class="col">
                    <input type="text" id="zip" placeholder="Postal/Zip Code" class="form-control"
                        formControlName="zip">
                </div>
                <div class="col">
                    <input type="text" id="country" placeholder="country" class="form-control" readonly
                        formControlName="country">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                <p-calendar formControlName="dob" [showIcon]="true" dateFormat="dd/MM/yy" showButtonBar="true" 
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                </div>
                <div class="col">
                    <label for="username">Having a Bike<span class="lblError">*</span></label>
                </div>
                <div class="col">
                    <p-dropdown [options]="bikes" formControlName="bike" optionLabel="label" filter="true"
                         placeholder="-Select-"></p-dropdown>
                </div> 
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="username">Qualification<span class="lblError">*</span></label>
                </div>
                <div class="col">
                    <p-dropdown [options]="qualifications" formControlName="qualification" optionLabel="label" filter="true"
                         placeholder="-Select-"></p-dropdown>
                </div>                  
                <div class="col">
                    <label for="username">Excel Skills<span class="lblError">*</span></label>
                </div>
                <div class="col">
                    <p-dropdown [options]="excelSkills" formControlName="excelSkill" optionLabel="label" filter="true"
                         placeholder="-Select-"></p-dropdown>
                </div> 
            </div>

            <div class="form-row">
                <div class="col">
                    <label for="username">Stock Audit Experience<span class="lblError">*</span></label>
                </div>
                <div class="col">
                    <p-dropdown [options]="stockAuditExps" formControlName="stockAuditExp" optionLabel="label" filter="true"
                         placeholder="-Select-"></p-dropdown>
                </div>                  
                <div class="col">
                    <label for="username">TL/ Non TL<span class="lblError">*</span></label>
                </div>
                <div class="col">
                    <p-dropdown [options]="tlNonTls" formControlName="tlNonTl" optionLabel="label" filter="true"
                         placeholder="-Select-"></p-dropdown>
                </div> 
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-default" type="submit" [disabled]="resourceForm.invalid">
                        Submit
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-default" type="button" [disabled]="resourceForm.invalid"
                    (click)="reviewDialog()">
                        Review
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-default" type="submit" [disabled]="resourceForm.invalid">
                        Modify
                    </button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button class="btn btn-default" type="submit" (click)="reset($event)"
                        [disabled]="resourceForm.invalid">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<p-dialog header="Form Summary" [(visible)]="displayReviewDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <div class="container">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name*</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" > 
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="phone">WhatsApp Mobile Number*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="phone" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="adhar">Aadhar (Add Front and back Side of Aadhar)*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="adhar" name="adhar">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pan">PAN*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="pan" name="pan">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="address" name="address">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="dob">Date of Birth*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="dob" name="dob">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="bike">Having Bike?*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="bike" name="bike">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="qualification">Qualification*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="qualification" name="qualification">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="excelSkill">Excel Skills*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="excelSkill" name="excelSkill">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="stockAuditExp">Stock Audit Experience*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="stockAuditExp" name="stockAuditExp">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="tlNonTl">TL/Non TL*</label>
            <div class="col-sm-10">          
              <input type="text" class="form-control" id="tlNonTl" name="tlNonTl">
            </div>
          </div>
        </form>
    </div>
</p-dialog>